In [6]:
import xlsxwriter
import openxls

ModuleNotFoundError: No module named 'openxls'

In [8]:
df_final = pd.read_excel("./datas/df_final.xls", "sheet")

In [9]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518 entries, 0 to 1517
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1518 non-null   int64
 1   Unnamed: 0.1   1518 non-null   int64
 2   Date           1518 non-null   datetime64[ns]
 3   Change         1518 non-null   float64
 4   Symbol         1518 non-null   object
 5   Change_idx     1518 non-null   float64
 6   ABS_idx        1515 non-null   float64
 7   Avg_change     1518 non-null   float64
 8   Start_date     1518 non-null   datetime64[ns]
 9   War_name       1518 non-null   object
 10  Count_country  1518 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(2)
memory usage: 130.6+ KB

In [10]:
df_final.head()

,Unnamed: 0,Unnamed: 0.1,Date,Change,Symbol,Change_idx,ABS_idx,Avg_change,Start_date,War_name,Count_country
0,426,426,2001-09-17,-0.0323,AAPL,269.0,269.0,-0.012,2001-09-11,테러와의전쟁,48
1,217816,217816,2001-09-17,0.0198,ABT,1980.0,1980.0,0.001,2001-09-11,테러와의전쟁,48
2,293188,293188,2001-09-17,-0.0363,ACN,-907.0,907.0,0.004,2001-09-11,테러와의전쟁,48
3,203878,203878,2001-09-17,-0.0797,ADBE,1992.0,1992.0,-0.004,2001-09-11,테러와의전쟁,48
4,11111,11111,2001-09-17,-0.1321,AMZN,2642.0,2642.0,-0.005,2001-09-11,테러와의전쟁,48