In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams["font.family"] = 'naummyeongjo'
plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2
plt.rcParams["axes.grid"] = True

In [2]:
%%html
<style>
    table { display: inline-block }
    .rendered_html td, .rendered_html th { text-align: left; }
</style>

In [3]:
import FinanceDataReader as fdr
fdr.__version__

'0.9.31'

## 나스닥 지수 탑100 상장기업

In [6]:
nas = fdr.StockListing('NASDAQ')
nas[:101]

100%|██████████| 3671/3671 [00:05<00:00, 715.20it/s]

    Symbol                                   Name        Industry IndustryCode
0     AAPL                              Apple Inc  컴퓨터, 전화 및 가전제품       571060
1     MSFT                         Microsoft Corp   소프트웨어 및 IT서비스       572010
2     AMZN                         Amazon.com Inc         다양한 소매업       534020
3       FB                   Facebook Inc Class A   소프트웨어 및 IT서비스       572010
4    GOOGL                   Alphabet Inc Class A   소프트웨어 및 IT서비스       572010
..     ...                                    ...             ...          ...
96    PTON        Peloton Interactive Inc Class A           레저 상품       532050
97    SBAC        SBA Communications Corp Class A     주택 및 상업용 리츠       601020
98    IBKR  Interactive Brokers Group Inc Class A      투자은행 및 서비스       551020
99    WLTW               Willis Towers Watson PLC              보험       553010
100   XLNX                             Xilinx Inc    반도체 및 반도체 장비       571010

[101 rows x 4 columns]

## 나스닥 지수 탑100 상장기업 하루 NASDAQ 지수

In [9]:
nas_list = nas["Symbol"][:100]
todaylist=[]
cnt=0
for i in nas_list:
    data = fdr.DataReader('{}'.format(i),'2021-03-30','2021-03-31').reset_index().to_dict("records")[0]
    data["ticker"] = i
    todaylist.append(data)
    cnt+=1
    print(cnt,":",i," ")
result = pd.DataFrame(todaylist)
result

1 : AAPL
2 : MSFT
3 : AMZN
4 : FB
5 : GOOGL
6 : GOOG
7 : TSLA
8 : NVDA
9 : PYPL
10 : INTC
11 : ASML
12 : CMCSA
13 : NFLX
14 : ADBE
15 : CSCO
16 : PEP
17 : AVGO
18 : TXN
19 : PDD
20 : COST
21 : TMUS
22 : ZIONO
23 : QCOM
24 : AMGN
25 : CHTR
26 : AZN
27 : ZIONN
28 : SBUX
29 : JD
30 : SNY
31 : AMAT
32 : ABNB
33 : INTU
34 : MU
35 : BKNG
36 : AMD
37 : ZM
38 : ISRG
39 : MDLZ
40 : GILD
41 : ADP
42 : LRCX
43 : FISV
44 : CME
45 : CSX
46 : ATVI
47 : BIDU
48 : NTES
49 : MELI
50 : EQIX
51 : ADSK
52 : WDAY
53 : ILMN
54 : ADI
55 : VRTX
56 : NXPI
57 : VOD
58 : REGN
59 : TEAM
60 : KDP
61 : KHC
62 : MRNA
63 : MNST
64 : KLAC
65 : MAR
66 : WBA
67 : ROST
68 : EXC
69 : AEP
70 : BIIB
71 : CTSH
72 : LULU
73 : ERIC
74 : IDXX
75 : ALGN
76 : EBAY
77 : MCHP
78 : TROW
79 : CRWD
80 : EA
81 : BILI
82 : ROKU
83 : CDNS
84 : DOCU
85 : SNPS
86 : PAYX
87 : XEL
88 : CTAS
89 : ORLY
90 : MTCH
91 : TSCAP
92 : ALXN
93 : DXCM
94 : PCAR
95 : CSGP
96 : MRVL
97 : PTON
98 : SBAC
99 : IBKR
100 : WLTW

         Date    Close     Open     High      Low      Volume  Change ticker
0  2021-03-30   119.90   120.04   120.36   118.88  85670000.0 -0.0123   AAPL
1  2021-03-30   231.85   233.58   233.73   231.12  24790000.0 -0.0144   MSFT
2  2021-03-30  3055.29  3068.99  3069.66  3034.70   2340000.0 -0.0066   AMZN
3  2021-03-30   288.00   289.87   292.47   286.71  17470000.0 -0.0097     FB
4  2021-03-30  2046.47  2049.80  2061.99  2036.46   1370000.0  0.0003  GOOGL
..        ...      ...      ...      ...      ...         ...     ...    ...
95 2021-03-30    47.33    46.34    47.53    45.92   8350000.0  0.0176   MRVL
96 2021-03-30   107.17   104.48   107.44   101.92   4200000.0  0.0205   PTON
97 2021-03-30   276.24   278.84   279.65   273.80    451390.0 -0.0183   SBAC
98 2021-03-30    72.32    72.79    73.16    71.58    607280.0 -0.0030   IBKR
99 2021-03-30   232.31   233.00   236.11   230.87    710140.0 -0.0098   WLTW

[100 rows x 8 columns]

In [16]:
nas.drop(columns=["level_0", "index"], inplace=True)

KeyError: "['level_0' 'index'] not found in axis"

## 나스닥 지수 탑100 상장기업 일일 상세정보, NASDQA지수 종합( :: 시장 Close 기준)

In [18]:
pd.merge(result, nas, left_on="ticker", right_on="Symbol").sort_values(["Close"],ascending=False)

,Date,Close,Open,High,Low,Volume,Change,ticker,Symbol,Name,Industry,IndustryCode
2,2021-03-30,3055.29,3068.99,3069.66,3034.70,2340000.0,-0.0066,AMZN,AMZN,Amazon.com Inc,다양한 소매업,534020
34,2021-03-30,2334.90,2343.30,2370.20,2316.80,246370.0,-0.0070,BKNG,BKNG,Booking Holdings Inc,호텔 및 엔터테인먼트,533010
5,2021-03-30,2055.54,2060.40,2069.00,2044.03,1040000.0,-0.0002,GOOG,GOOG,Alphabet Inc Class C,소프트웨어 및 IT서비스,572010
4,2021-03-30,2046.47,2049.80,2061.99,2036.46,1370000.0,0.0003,GOOGL,GOOGL,Alphabet Inc Class A,소프트웨어 및 IT서비스,572010
48,2021-03-30,1428.03,1408.76,1444.00,1390.38,408150.0,0.0175,MELI,MELI,Mercadolibre Inc,소프트웨어 및 IT서비스,572010
...,...,...,...,...,...,...,...,...,...,...,...,...
21,2021-03-30,27.65,26.86,27.91,26.86,3100.0,0.0025,ZIONO,ZIONO,Zions Bancorporation NA ADR,은행,551010
90,2021-03-30,25.93,25.93,25.93,25.93,710.0,-0.0104,TSCAP,TSCAP,TriState Capital Holdings Inc ADR,은행,551010
26,2021-03-30,25.85,25.91,26.16,25.65,2200.0,0.0066,ZIONN,ZIONN,Zions Bancorporation NA ADR,은행,551010
56,2021-03-30,18.58,18.53,18.67,18.50,2830000.0,0.0038,VOD,VOD,Vodafone Group PLC ADR,통신 서비스,574010
72,2021-03-30,13.28,13.23,13.32,13.17,7190000.0,-0.0067,ERIC,ERIC,Telefonaktiebolaget LM Ericsson ADR,커뮤니케이션 및 네트워킹,571020

In [43]:
nas_list = nas["Symbol"][:3]
todaylist=[]
cnt=0
for i in nas_list:
    data = fdr.DataReader('{}'.format(i),'2021-03-25','2021-03-31').reset_index().to_dict("records")[0]
    data["ticker"] = i
    todaylist.append(data)
    cnt+=1
    print(cnt,":",i," ", todaylist)
result = pd.DataFrame(todaylist)
result

1 : AAPL   [{'Date': Timestamp('2021-03-25 00:00:00'), 'Close': 120.59, 'Open': 119.22, 'High': 121.64, 'Low': 119.03, 'Volume': 98840000.0, 'Change': 0.0042, 'ticker': 'AAPL'}]
2 : MSFT   [{'Date': Timestamp('2021-03-25 00:00:00'), 'Close': 120.59, 'Open': 119.22, 'High': 121.64, 'Low': 119.03, 'Volume': 98840000.0, 'Change': 0.0042, 'ticker': 'AAPL'}, {'Date': Timestamp('2021-03-25 00:00:00'), 'Close': 232.34, 'Open': 235.34, 'High': 236.9, 'Low': 231.6, 'Volume': 34060000.0, 'Change': -0.013300000000000001, 'ticker': 'MSFT'}]
3 : AMZN   [{'Date': Timestamp('2021-03-25 00:00:00'), 'Close': 120.59, 'Open': 119.22, 'High': 121.64, 'Low': 119.03, 'Volume': 98840000.0, 'Change': 0.0042, 'ticker': 'AAPL'}, {'Date': Timestamp('2021-03-25 00:00:00'), 'Close': 232.34, 'Open': 235.34, 'High': 236.9, 'Low': 231.6, 'Volume': 34060000.0, 'Change': -0.013300000000000001, 'ticker': 'MSFT'}, {'Date': Timestamp('2021-03-25 00:00:00'), 'Close': 3046.26, 'Open': 3068.24, 'High': 3108.09, 'Low': 3039.1, 'Volume': 3560000.0, 'Change': -0.0132, 'ticker': 'AMZN'}]

        Date    Close     Open     High      Low      Volume  Change ticker
0 2021-03-25   120.59   119.22   121.64   119.03  98840000.0  0.0042   AAPL
1 2021-03-25   232.34   235.34   236.90   231.60  34060000.0 -0.0133   MSFT
2 2021-03-25  3046.26  3068.24  3108.09  3039.10   3560000.0 -0.0132   AMZN

In [74]:
nas_list = nas["Symbol"][:1]
todaylist=[]
cnt=0
for i in nas_list:
    x= fdr.DataReader('{}'.format(i),'2020-03-25','2021-03-31')
    todaylist.append(x)
todaylist

[             Close    Open    High     Low       Volume  Change
 Date
 2020-03-25   61.38   62.69   64.56   61.08  303600000.0 -0.0055
 2020-03-26   64.61   61.63   64.67   61.59  252560000.0  0.0526
 2020-03-27   61.94   63.19   63.97   61.76  204220000.0 -0.0414
 2020-03-30   63.70   62.69   63.88   62.35  167980000.0  0.0285
 2020-03-31   63.57   63.90   65.62   63.00  197000000.0 -0.0020
 ...            ...     ...     ...     ...          ...     ...
 2021-03-24  120.09  122.71  122.80  120.09   88530000.0 -0.0200
 2021-03-25  120.59  119.22  121.64  119.03   98840000.0  0.0042
 2021-03-26  121.21  120.35  121.48  118.92   94070000.0  0.0051
 2021-03-29  121.39  121.76  122.56  120.74   80820000.0  0.0015
 2021-03-30  119.90  120.04  120.36  118.88   85670000.0 -0.0123

 [256 rows x 6 columns]]