In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import numpy as np
import sklearn.linear_model
import FinanceDataReader as fdr
from datetime import datetime, timedelta
%matplotlib inline

In [2]:
industry = pd.read_csv("./datas/SYMB_Industry.csv")
industry.head()

            Industry  IndustryCode
0  건설 장비 및대형차, 기차, 배        521020
1            다양한 소매업        533010
2              레저 상품        532050
3           미디어 및 출판        533020
4       반도체 및 반도체 장비        571010

# Symbol 리스트

In [224]:
indX = pd.read_csv("datas/industry_code.csv")
df_3 = indX.drop(['Unnamed: 0'], axis=1)
df_3.tail()

,Symbol,Name,Industry,IndustryCode
7210,RHE,Regional Health Properties Inc,부동산 운영 관리,601010.0
7211,BTX,Brooklyn Immunotherapeutics Inc,미디어 및 출판,533020.0
7212,PW PR A,Power REIT PRF,주택 및 상업용 리츠,601020.0
7213,IPB,Merrill LYNCH Depositor Inc Indexplus Trust Se...,은행,551010.0
7214,VHAQ RT,Viveon Health Acquisition Corp,기타 금융업,556010.0

# 전쟁 리스트

In [166]:
ls_war = pd.read_excel("datas/ls_war.xls", "sheet")
ls_war = ls_war.drop(["Unnamed: 0","전쟁수"], axis=1)
ls_war
#ls_war = ls_war.drop(["Unnamed: 0", "종료시점", "위치"], axis=1)

         발발시점             갈등이름 갈등종류     전쟁규모  참전국수
0  2001-09-11           테러와의전쟁   테러  1000000    48
1  2002-01-15      영원한자유작전-필리핀   테러   115800     2
2  2002-10-07   영원한자유작전-아프리카의뿔   테러   500000    38
3  2003-03-20            이라크전쟁   테러  1000000    41
4  2004-04-01        이란-PJAK충돌   민족    17000     3
5  2004-04-18    예멘의 Houthi 반란   내란    32000     7
6  2005-08-27        파라과이인민군반란   내란     3650     3
7  2006-01-25        파타-하마스 분쟁   테러    55000     3
8  2006-06-12       2006년레바논전쟁   테러    10500     2
9  2006-02-22            이라크내전   내란   748000     5
10 2006-12-11          멕시코마약전쟁   마약   360000     4
11 2006-12-30           소말리아전쟁   해적    35250     8
12 2007-02-06   영원한자유작전-트랜스사하라   테러     5325    17
13 2008-03-25       2008 안주안침공   내란     2500     7
14 2009-07-26           보코하람반란   내란    10000    19
15 2009-01-31           소말리아내전   해적    41600    11
16 2010-05-23            킹스톤불안   마약     1500     2
17 2011-02-15            리비아내전   내란    37000    21
18 2011-03-15            시리아내전   내란   144600    13
19 2011-06-17    레바논에서의시리아내전파급   내란    13500    19
20 2012-01-16           북부말리전쟁   테러    24764    57
21 2013-12-30           이라크 내전   내란   770000    22
22 2014-05-16           리비아 내전   내란   400000    19
23 2014-06-13    ISIL에대한국제군사개입   테러   472260    41
24 2014-09-16             예멘내전   내란   156000    19
25 2017-05-23            마라위위기   테러     7500     5
26 2017-12-09            이라크반란   내란   188900    13
27 2019-05-05  2019-20 페르시아만위기   민족    10000    13

In [31]:
start_date = ls_war.loc[index,"발발시점"]
war_name = ls_war.loc[index, "갈등이름"]
start_date, war_name

(Timestamp('2001-09-11 00:00:00'), '테러와의전쟁')

In [36]:
# 발발시점 데이터 뽑기
index = 0
ls = len(ls_war["발발시점"])

# 심볼별 Historical price

In [113]:
real_df = pd.read_excel("datas/real_df.xls", "sheet")

In [256]:
# 미국상장기업 100대 기업의 historical price
real_df

,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
0,0,0,2000-01-03,1.00,0.94,1.00,0.91,535820000.0,0.0870,AAPL
1,1,1,2000-01-04,0.92,0.97,0.99,0.90,511730000.0,-0.0800,AAPL
2,2,2,2000-01-05,0.93,0.93,0.99,0.92,778320000.0,0.0109,AAPL
3,3,3,2000-01-06,0.85,0.95,0.96,0.85,767980000.0,-0.0860,AAPL
4,4,4,2000-01-07,0.89,0.86,0.90,0.85,460730000.0,0.0471,AAPL
...,...,...,...,...,...,...,...,...,...,...
358741,358741,358741,2021-03-19,1516.34,1502.63,1516.34,1502.53,22010.0,0.0225,DHR_pa
358742,358742,358742,2021-03-22,1530.53,1510.10,1530.54,1510.10,960.0,0.0094,DHR_pa
358743,358743,358743,2021-03-23,1533.00,1533.00,1533.00,1533.00,3480.0,0.0016,DHR_pa
358744,358744,358744,2021-03-24,1512.42,1512.45,1512.45,1512.42,1230.0,-0.0134,DHR_pa
358745,358745,358745,2021-03-25,1496.00,1492.90,1496.00,1492.90,650.0,-0.0109,DHR_pa

In [ ]:
# 원데이터의 Date 컬럼을 Date 형으로 변환

In [257]:
real_df['Date'] = pd.to_datetime(real_df['Date'], format='%Y-%m-%d')
real_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358746 entries, 0 to 358745
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    358746 non-null  int64
 1   Unnamed: 0.1  358746 non-null  int64
 2   Date          358746 non-null  datetime64[ns]
 3   Close         358746 non-null  float64
 4   Open          358746 non-null  float64
 5   High          358746 non-null  float64
 6   Low           358746 non-null  float64
 7   Volume        358746 non-null  float64
 8   Change        358746 non-null  float64
 9   Symbol        358746 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 27.4+ MB

In [258]:
#test = start_date+timedelta(days=-1)
#test

In [259]:
#real_df.loc[425, "Date"]

In [163]:
# 리스트에서 심볼을 을 출력하는 코딩 테스트

In [239]:
symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()
symbol.loc[10, "Symbol"]

'AVGO'

In [ ]:
# 전쟁ID 0과 전쟁ID 1 사이의 특정 종목의 historical price 추출하는 코드
# 출력결과 index 0 row 값이 전쟁ID 0번을 전쟁발발시점으로 간주
# 전쟁ID 0번의 'Unnamed: 0' 번의 값으로 이후 코딩에서 직전 5일, 이후2일에 대한 값 탐색

In [248]:
index=0 # 전쟁ID 0~26
s_i=55 # Symbol ID 0~99

symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()
ticker = symbol.loc[s_i, "Symbol"]


start_date = ls_war.loc[index,"발발시점"]
and_date = ls_war.loc[index+1,"발발시점"]
test1 = real_df[real_df['Symbol']==ticker]

# 조건설정
a = test1['Date']>=start_date
b = test1['Date']<and_date

test2 = test1.loc[a & b].reset_index()
#test2.loc[0, "Date"] # 날짜확인
num = test2.loc[0, "Unnamed: 0"] #row id 추출

In [249]:
test2

,index,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
0,281929,281929,281929,2001-09-17,63.67,64.43,64.57,62.72,9100000.0,0.0160,MRK
1,281930,281930,281930,2001-09-18,64.77,63.67,65.50,63.36,7290000.0,0.0173,MRK
2,281931,281931,281931,2001-09-19,64.34,65.37,65.65,63.10,8630000.0,-0.0066,MRK
3,281932,281932,281932,2001-09-20,63.38,63.53,64.11,63.15,8040000.0,-0.0149,MRK
4,281933,281933,281933,2001-09-21,62.29,60.68,63.71,60.48,13280000.0,-0.0172,MRK
...,...,...,...,...,...,...,...,...,...,...,...
78,282007,282007,282007,2002-01-08,55.68,55.09,55.68,55.05,7120000.0,0.0107,MRK
79,282008,282008,282008,2002-01-09,55.77,55.68,56.56,55.56,6550000.0,0.0016,MRK
80,282009,282009,282009,2002-01-10,55.91,55.37,55.93,55.25,5210000.0,0.0025,MRK
81,282010,282010,282010,2002-01-11,55.92,56.51,56.75,55.49,5690000.0,0.0002,MRK
82,282011,282011,282011,2002-01-14,55.80,56.04,56.77,55.80,5060000.0,-0.0021,MRK

In [250]:
# 전쟁발발기점에서의 'Unnamed: 0'의 값
num

281929

In [260]:
# 해당값을 출력해보면 전쟁 특정종목의 N번째 전쟁발발시점의 값이 출력됨
test2[test2["Unnamed: 0"] == num]

,index,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
0,281929,281929,281929,2001-09-17,63.67,64.43,64.57,62.72,9100000.0,0.016,MRK

In [253]:
# num값을 기준으로 이전 5번째, 이후 2번째 범위내의 historical price 출력

In [255]:
real_df.loc[num-5:num+2]

,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
281924,281924,281924,2001-09-04,61.91,61.82,63.03,61.68,6250000.0,0.0031,MRK
281925,281925,281925,2001-09-05,64.19,61.93,64.38,61.34,6480000.0,0.0368,MRK
281926,281926,281926,2001-09-06,62.34,63.72,64.08,62.11,5010000.0,-0.0288,MRK
281927,281927,281927,2001-09-07,60.97,61.96,61.96,60.82,4840000.0,-0.0220,MRK
281928,281928,281928,2001-09-10,62.67,60.68,63.05,60.22,5480000.0,0.0279,MRK
281929,281929,281929,2001-09-17,63.67,64.43,64.57,62.72,9100000.0,0.0160,MRK
281930,281930,281930,2001-09-18,64.77,63.67,65.50,63.36,7290000.0,0.0173,MRK
281931,281931,281931,2001-09-19,64.34,65.37,65.65,63.10,8630000.0,-0.0066,MRK

In [261]:
#### 위에 값을 for문 돌리고 cancat해서 합치면 날짜누락없이 일주일단위로 값가져올수 있어요.

In [262]:
#### 값이 없는 간 해당연도,월,일범위 내에서 종목의 historical price 정보가 없는 거라고 보면 되구요.

In [263]:
# 이자료 기준으로

In [ ]:
# dataframe을 다시 만드는데, column은 아래 2개의 내용으로 구성하면 될거 같아요.

In [ ]:
#1 전쟁발발시점, 심볼, 카테고리, 전쟁명, 전쟁종류, 전쟁규모, 참전국수와

In [ ]:
#2 전쟁발발시점의 change(a), 전쟁쟁발발전 5일간 change 평균(b), 평가지표(a/b *100), 평가지표절대값

In [ ]:
# 이후 분석해볼 거는,

In [ ]:
# 1. 단순히 항목을 넣어서 전쟁규모, 참전국수 등에 따른 평가지표절대값의 상관관계

In [ ]:
# 2. 전쟁종류 등에 따라 100대 기업 중 절대값 200이상되는 symbol의 기준 등

In [ ]:
# 이 밑으로는 이전 버전의 코딩이니 신경안쓰셔도 되요.

----------------------------

In [ ]:
from datetime import timedelta, date

#2014년 05월 16일 금요일 리비아내전 sample
start_war = ls_war2.loc[index, "발발시점"].date()
#war after day1, 2, 3
af1 = (ls_war2.loc[index,"발발시점"] + timedelta(days=1)).date()
af2 = (ls_war2.loc[index,"발발시점"] + timedelta(days=2)).date()
af3 = (ls_war2.loc[index,"발발시점"] + timedelta(days=3)).date()

#시작일, 종료일, 토요일, 일요일, 평일
start_dt = date(2000,1,1)
end_dt = date(2021,4,9)
fweekdays = [5]
sweekdays = [6]
nonweekdays = [0,1,2,3,4]

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

exchange_date =  []
for dt in daterange(start_dt, end_dt):
    if dt.weekday() not in nonweekdays:                    # to print only the weekdates
        if dt.weekday() in fweekdays:
            if  dt== af1 :
                #print("x는 주말입니다.", x)
                puls_date=2
                af1 = ls_war2.loc[index,"발발시점"] + timedelta(days=1+puls_date)
                af2 = ls_war2.loc[index,"발발시점"] + timedelta(days=2+puls_date)
                af3 = ls_war2.loc[index,"발발시점"] + timedelta(days=3+puls_date)
                exchange_date.append(af1)
                exchange_date.append(af2)
                exchange_date.append(af3)
        elif dt.weekday() in sweekdays:
            if dt== af1 :
                plus_date=1
                af1 = ls_war2.loc[index,"발발시점"] + timedelta(days=1+plus_date)
                af2 = ls_war2.loc[index,"발발시점"] + timedelta(days=2+plus_date)
                af3 = ls_war2.loc[index,"발발시점"] + timedelta(days=3+plus_date)
                exchange_date.append(af1)
                exchange_data.append(af2)
                exchange_data.append(af3)
                
#exchange_date.append(af1)
#exchange_date.append(af2)
#exchange_date.append(af3)
exchange_date
#print(af1[0], af1[1], af1[2])

In [22]:
#2014년 05월 16일 금요일 리비아내전 sampl
index = 0
ls_war2.loc[index,"발발시점"]

Timestamp('2001-09-11 00:00:00')

In [6]:
from datetime import timedelta, date

#2014년 05월 16일 금요일 리비아내전 sample
start_war = ls_war2.loc[index, "발발시점"].date()
#war after day1, 2, 3
af1 = (ls_war2.loc[index,"발발시점"] + timedelta(days=1)).date()
af2 = (ls_war2.loc[index,"발발시점"] + timedelta(days=2)).date()
af3 = (ls_war2.loc[index,"발발시점"] + timedelta(days=3)).date()

#시작일, 종료일, 토요일, 일요일, 평일
start_dt = date(2000,1,1)
end_dt = date(2021,4,9)
fweekdays = [5]
sweekdays = [6]
nonweekdays = [0,1,2,3,4]

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

exchange_date =  []
for dt in daterange(start_dt, end_dt):
    if dt.weekday() not in nonweekdays:                    # to print only the weekdates
        if dt.weekday() in fweekdays:
            if  dt== af1 :
                #print("x는 주말입니다.", x)
                puls_date=2
                af1 = ls_war2.loc[index,"발발시점"] + timedelta(days=1+puls_date)
                af2 = ls_war2.loc[index,"발발시점"] + timedelta(days=2+puls_date)
                af3 = ls_war2.loc[index,"발발시점"] + timedelta(days=3+puls_date)
                exchange_date.append(af1)
                exchange_date.append(af2)
                exchange_date.append(af3)
        elif dt.weekday() in sweekdays:
            if dt== af1 :
                plus_date=1
                af1 = ls_war2.loc[index,"발발시점"] + timedelta(days=1+plus_date)
                af2 = ls_war2.loc[index,"발발시점"] + timedelta(days=2+plus_date)
                af3 = ls_war2.loc[index,"발발시점"] + timedelta(days=3+plus_date)
                exchange_date.append(af1)
                exchange_data.append(af2)
                exchange_data.append(af3)
                
#exchange_date.append(af1)
#exchange_date.append(af2)
#exchange_date.append(af3)
exchange_date
#print(af1[0], af1[1], af1[2])

[Timestamp('2014-05-19 00:00:00'),
 Timestamp('2014-05-20 00:00:00'),
 Timestamp('2014-05-21 00:00:00')]

In [7]:
start    = ls_war2.loc[index,"발발시점"]
name     =  ls_war2.loc[index,"갈등이름"]
case     =  ls_war2.loc[index,"갈등종류"]
suport   = ls_war2.loc[index,"참전국수"]
scale    = ls_war2.loc[index, "전쟁규모"]
location = ls_war2.loc[index, "위치"]
#start1   = ls_war2.loc[index,"발발시점"]+timedelta(days=1)
#start2   = ls_war2.loc[index,'발발시점']+timedelta(days=2)
#start3   = ls_war2.loc[index,'발발시점']+timedelta(days=3)
df_3['Name'] = name
df_3['CASE'] = case


df_3['Location'] = location
df_3['Day'] = start
df_3['Scale(solder)'] = scale
df_3['Support Nations'] = suport
#df_3['Dat +1'] = start1
#df_3['Dat +2'] = start2
#df_3['Dat +3'] = start3
df_3

,Symbol,Name,Industry,IndustryCode,CASE,Location,Day,Scale(solder),Support Nations
0,AAPL,리비아 내전,"컴퓨터, 전화 및 가전제품",571060.0,내란,리비아,2014-05-16,NaN,19
1,MSFT,리비아 내전,소프트웨어 및 IT서비스,572010.0,내란,리비아,2014-05-16,NaN,19
2,AMZN,리비아 내전,다양한 소매업,534020.0,내란,리비아,2014-05-16,NaN,19
3,FB,리비아 내전,소프트웨어 및 IT서비스,572010.0,내란,리비아,2014-05-16,NaN,19
4,GOOGL,리비아 내전,소프트웨어 및 IT서비스,572010.0,내란,리비아,2014-05-16,NaN,19
...,...,...,...,...,...,...,...,...,...
7210,RHE,리비아 내전,부동산 운영 관리,601010.0,내란,리비아,2014-05-16,NaN,19
7211,BTX,리비아 내전,미디어 및 출판,533020.0,내란,리비아,2014-05-16,NaN,19
7212,PW PR A,리비아 내전,주택 및 상업용 리츠,601020.0,내란,리비아,2014-05-16,NaN,19
7213,IPB,리비아 내전,은행,551010.0,내란,리비아,2014-05-16,NaN,19
7214,VHAQ RT,리비아 내전,기타 금융업,556010.0,내란,리비아,2014-05-16,NaN,19

In [8]:
nas_data = fdr.StockListing('NASDAQ')
nas_list = nas_data["Symbol"][:2]
todaylist=[]
cnt=0
for i in nas_list:
    for x in range(0, 9) :
        data = fdr.DataReader('{}'.format(i),
                              (ls_war2.loc[index,"발발시점"] + timedelta(days=-7))
                              .date()).reset_index().to_dict("records")[x]
        data["ticker"] = i
        todaylist.append(data)
        cnt+=1
    #print(cnt, '  ',i)
        print(data,type(data))
    
result = pd.DataFrame(todaylist)
#x = result.drop(['Date','High','Low','Volume','Change','ticker'],axis=1)
#x
result

100%|█████████████████████████████████████████████████████████████████████████████| 3694/3694 [00:08<00:00, 423.87it/s]

{'Date': Timestamp('2014-05-09 00:00:00'), 'Close': 20.91, 'Open': 20.88, 'High': 20.94, 'Low': 20.73, 'Volume': 291600000.0, 'Change': -0.0043, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-12 00:00:00'), 'Close': 21.17, 'Open': 20.98, 'High': 21.2, 'Low': 20.98, 'Volume': 213300000.0, 'Change': 0.0124, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-13 00:00:00'), 'Close': 21.21, 'Open': 21.14, 'High': 21.23, 'Low': 21.1, 'Volume': 159740000.0, 'Change': 0.0019, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-14 00:00:00'), 'Close': 21.21, 'Open': 21.16, 'High': 21.34, 'Low': 21.13, 'Volume': 166400000.0, 'Change': 0.0, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-15 00:00:00'), 'Close': 21.03, 'Open': 21.24, 'High': 21.31, 'Low': 21.0, 'Volume': 230850000.0, 'Change': -0.0085, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-16 00:00:00'), 'Close': 21.34, 'Open': 21.02, 'High': 21.34, 'Low': 20.91, 'Volume': 276370000.0, 'Change': 0.0147, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-19 00:00:00'), 'Close': 21.59, 'Open': 21.35, 'High': 21.69, 'Low': 21.33, 'Volume': 317760000.0, 'Change': 0.011699999999999999, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-20 00:00:00'), 'Close': 21.6, 'Open': 21.59, 'High': 21.66, 'Low': 21.45, 'Volume': 234840000.0, 'Change': 0.0005, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-21 00:00:00'), 'Close': 21.65, 'Open': 21.57, 'High': 21.67, 'Low': 21.5, 'Volume': 197000000.0, 'Change': 0.0023, 'ticker': 'AAPL'} <class 'dict'>
{'Date': Timestamp('2014-05-09 00:00:00'), 'Close': 39.54, 'Open': 39.54, 'High': 39.85, 'Low': 39.37, 'Volume': 29650000.0, 'Change': -0.0025, 'ticker': 'MSFT'} <class 'dict'>
{'Date': Timestamp('2014-05-12 00:00:00'), 'Close': 39.97, 'Open': 39.74, 'High': 40.02, 'Low': 39.65, 'Volume': 22790000.0, 'Change': 0.0109, 'ticker': 'MSFT'} <class 'dict'>
{'Date': Timestamp('2014-05-13 00:00:00'), 'Close': 40.42, 'Open': 39.92, 'High': 40.5, 'Low': 39.85, 'Volume': 27000000.0, 'Change': 0.0113, 'ticker': 'MSFT'} <class 'dict'>
{'Date': Timestamp('2014-05-14 00:00:00'), 'Close': 40.24, 'Open': 40.3, 'High': 40.45, 'Low': 40.05, 'Volume': 18820000.0, 'Change': -0.0045000000000000005, 'ticker': 'MSFT'} <class 'dict'>
{'Date': Timestamp('2014-05-15 00:00:00'), 'Close': 39.6, 'Open': 40.09, 'High': 40.4, 'Low': 39.51, 'Volume': 37790000.0, 'Change': -0.0159, 'ticker': 'MSFT'} <class 'dict'>
{'Date': Timestamp('2014-05-16 00:00:00'), 'Close': 39.83, 'Open': 39.67, 'High': 39.84, 'Low': 39.27, 'Volume': 29870000.0, 'Change': 0.0058, 'ticker': 'MSFT'} <class 'dict'>
{'Date': Timestamp('2014-05-19 00:00:00'), 'Close': 39.75, 'Open': 39.61, 'High': 39.82, 'Low': 39.46, 'Volume': 24540000.0, 'Change': -0.002, 'ticker': 'MSFT'} <class 'dict'>
{'Date': Timestamp('2014-05-20 00:00:00'), 'Close': 39.68, 'Open': 39.68, 'High': 39.94, 'Low': 39.46, 'Volume': 21320000.0, 'Change': -0.0018, 'ticker': 'MSFT'} <class 'dict'>
{'Date': Timestamp('2014-05-21 00:00:00'), 'Close': 40.35, 'Open': 39.8, 'High': 40.35, 'Low': 39.74, 'Volume': 22400000.0, 'Change': 0.0169, 'ticker': 'MSFT'} <class 'dict'>

         Date  Close   Open   High    Low       Volume  Change ticker
0  2014-05-09  20.91  20.88  20.94  20.73  291600000.0 -0.0043   AAPL
1  2014-05-12  21.17  20.98  21.20  20.98  213300000.0  0.0124   AAPL
2  2014-05-13  21.21  21.14  21.23  21.10  159740000.0  0.0019   AAPL
3  2014-05-14  21.21  21.16  21.34  21.13  166400000.0  0.0000   AAPL
4  2014-05-15  21.03  21.24  21.31  21.00  230850000.0 -0.0085   AAPL
5  2014-05-16  21.34  21.02  21.34  20.91  276370000.0  0.0147   AAPL
6  2014-05-19  21.59  21.35  21.69  21.33  317760000.0  0.0117   AAPL
7  2014-05-20  21.60  21.59  21.66  21.45  234840000.0  0.0005   AAPL
8  2014-05-21  21.65  21.57  21.67  21.50  197000000.0  0.0023   AAPL
9  2014-05-09  39.54  39.54  39.85  39.37   29650000.0 -0.0025   MSFT
10 2014-05-12  39.97  39.74  40.02  39.65   22790000.0  0.0109   MSFT
11 2014-05-13  40.42  39.92  40.50  39.85   27000000.0  0.0113   MSFT
12 2014-05-14  40.24  40.30  40.45  40.05   18820000.0 -0.0045   MSFT
13 2014-05-15  39.60  40.09  40.40  39.51   37790000.0 -0.0159   MSFT
14 2014-05-16  39.83  39.67  39.84  39.27   29870000.0  0.0058   MSFT
15 2014-05-19  39.75  39.61  39.82  39.46   24540000.0 -0.0020   MSFT
16 2014-05-20  39.68  39.68  39.94  39.46   21320000.0 -0.0018   MSFT
17 2014-05-21  40.35  39.80  40.35  39.74   22400000.0  0.0169   MSFT

In [9]:
df_4 =result
df_4['CLOP_rate'] = result['Close'] - result['Open']
df_4 = df_4.drop(['Volume','Change','ticker'],axis=1)
CLOP_sum = (df_4['CLOP_rate'][0] + df_4['CLOP_rate'][1] + df_4['CLOP_rate'][2] + df_4['CLOP_rate'][3] + df_4['CLOP_rate'][4])
df_4['CLOP_avg'] = (df_4['CLOP_rate'] / CLOP_sum)*100
#df_4 = df_4.drop(['Volume','Change','ticker','CLOP_sum'],axis=1)
df_4 = df_4.transpose()
df_4

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
Date,2014-05-09 00:00:00,2014-05-12 00:00:00,2014-05-13 00:00:00,2014-05-14 00:00:00,2014-05-15 00:00:00,2014-05-16 00:00:00,2014-05-19 00:00:00,2014-05-20 00:00:00,2014-05-21 00:00:00,2014-05-09 00:00:00,2014-05-12 00:00:00,2014-05-13 00:00:00,2014-05-14 00:00:00,2014-05-15 00:00:00,2014-05-16 00:00:00,2014-05-19 00:00:00,2014-05-20 00:00:00,2014-05-21 00:00:00
Close,20.91,21.17,21.21,21.21,21.03,21.34,21.59,21.6,21.65,39.54,39.97,40.42,40.24,39.6,39.83,39.75,39.68,40.35
Open,20.88,20.98,21.14,21.16,21.24,21.02,21.35,21.59,21.57,39.54,39.74,39.92,40.3,40.09,39.67,39.61,39.68,39.8
High,20.94,21.2,21.23,21.34,21.31,21.34,21.69,21.66,21.67,39.85,40.02,40.5,40.45,40.4,39.84,39.82,39.94,40.35
Low,20.73,20.98,21.1,21.13,21.0,20.91,21.33,21.45,21.5,39.37,39.65,39.85,40.05,39.51,39.27,39.46,39.46,39.74
CLOP_rate,0.03,0.19,0.07,0.05,-0.21,0.32,0.24,0.01,0.08,0.0,0.23,0.5,-0.06,-0.49,0.16,0.14,0.0,0.55
CLOP_avg,23.076923,146.153846,53.846154,38.461538,-161.538462,246.153846,184.615385,7.692308,61.538462,0.0,176.923077,384.615385,-46.153846,-376.923077,123.076923,107.692308,0.0,423.076923

In [10]:
v = v.transpose()
v

NameError: name 'v' is not defined

In [ ]:
n1 = v[:9].transpose()
#print(df_3 , '\n')
#print(n1)
#merge = pd.merge(df_3, n1, how='outer', on='Symbol')