In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import numpy as np
import sklearn.linear_model
import FinanceDataReader as fdr
from datetime import datetime, timedelta
%matplotlib inline

In [7]:
industry = pd.read_csv("./datas/SYMB_Industry.csv")
industry.head()

            Industry  IndustryCode
0  건설 장비 및대형차, 기차, 배        521020
1            다양한 소매업        533010
2              레저 상품        532050
3           미디어 및 출판        533020
4       반도체 및 반도체 장비        571010

# Symbol 리스트

In [8]:
indX = pd.read_csv("datas/industry_code.csv")
df_3 = indX.drop(['Unnamed: 0'], axis=1)
df_3.tail()

,Symbol,Name,Industry,IndustryCode
7210,RHE,Regional Health Properties Inc,부동산 운영 관리,601010.0
7211,BTX,Brooklyn Immunotherapeutics Inc,미디어 및 출판,533020.0
7212,PW PR A,Power REIT PRF,주택 및 상업용 리츠,601020.0
7213,IPB,Merrill LYNCH Depositor Inc Indexplus Trust Se...,은행,551010.0
7214,VHAQ RT,Viveon Health Acquisition Corp,기타 금융업,556010.0

# 전쟁 리스트

In [9]:
ls_war = pd.read_excel("datas/ls_war.xls", "sheet")
ls_war = ls_war.drop(["Unnamed: 0","전쟁수"], axis=1)
ls_war.head(1)
#ls_war = ls_war.drop(["Unnamed: 0", "종료시점", "위치"], axis=1)

        발발시점    갈등이름 갈등종류     전쟁규모  참전국수
0 2001-09-11  테러와의전쟁   테러  1000000    48

In [10]:
index = 0
start_date = ls_war.loc[index,"발발시점"]
war_name = ls_war.loc[index, "갈등이름"]
start_date, war_name

(Timestamp('2001-09-11 00:00:00'), '테러와의전쟁')

In [11]:
# 발발시점 데이터 뽑기
index = 0
ls = len(ls_war["발발시점"])

# 심볼별 Historical price

In [12]:
real_df = pd.read_excel("datas/real_df.xls", "sheet")

In [13]:
# 미국상장기업 100대 기업의 historical price
real_df

,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
0,0,0,2000-01-03,1.00,0.94,1.00,0.91,535820000.0,0.0870,AAPL
1,1,1,2000-01-04,0.92,0.97,0.99,0.90,511730000.0,-0.0800,AAPL
2,2,2,2000-01-05,0.93,0.93,0.99,0.92,778320000.0,0.0109,AAPL
3,3,3,2000-01-06,0.85,0.95,0.96,0.85,767980000.0,-0.0860,AAPL
4,4,4,2000-01-07,0.89,0.86,0.90,0.85,460730000.0,0.0471,AAPL
...,...,...,...,...,...,...,...,...,...,...
358741,358741,358741,2021-03-19,1516.34,1502.63,1516.34,1502.53,22010.0,0.0225,DHR_pa
358742,358742,358742,2021-03-22,1530.53,1510.10,1530.54,1510.10,960.0,0.0094,DHR_pa
358743,358743,358743,2021-03-23,1533.00,1533.00,1533.00,1533.00,3480.0,0.0016,DHR_pa
358744,358744,358744,2021-03-24,1512.42,1512.45,1512.45,1512.42,1230.0,-0.0134,DHR_pa
358745,358745,358745,2021-03-25,1496.00,1492.90,1496.00,1492.90,650.0,-0.0109,DHR_pa

In [14]:
# 원데이터의 Date 컬럼을 Date 형으로 변환

In [15]:
real_df['Date'] = pd.to_datetime(real_df['Date'], format='%Y-%m-%d')
real_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358746 entries, 0 to 358745
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    358746 non-null  int64
 1   Unnamed: 0.1  358746 non-null  int64
 2   Date          358746 non-null  datetime64[ns]
 3   Close         358746 non-null  float64
 4   Open          358746 non-null  float64
 5   High          358746 non-null  float64
 6   Low           358746 non-null  float64
 7   Volume        358746 non-null  float64
 8   Change        358746 non-null  float64
 9   Symbol        358746 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 27.4+ MB

In [ ]:
#test = start_date+timedelta(days=-1)
#test

In [ ]:
#real_df.loc[425, "Date"]

In [ ]:
# 리스트에서 심볼을 을 출력하는 코딩 테스트

In [16]:
symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()
symbol.loc[10, "Symbol"]

'AVGO'

In [13]:
# 전쟁ID 0과 전쟁ID 1 사이의 특정 종목의 historical price 추출하는 코드
# 출력결과 index 0 row 값이 전쟁ID 0번을 전쟁발발시점으로 간주
# 전쟁ID 0번의 'Unnamed: 0' 번의 값으로 이후 코딩에서 직전 5일, 이후2일에 대한 값 탐색

In [50]:
    s_i=0
    
    symbol = real_df.groupby('Symbol').size()
    symbol = pd.DataFrame(symbol).reset_index()
    ticker = symbol.loc[s_i, "Symbol"]
    
    len(symbol), len(ls_war)

(100, 28)

In [109]:
index=0 # 전쟁ID 0~26
ls_1=len(ls_war)

symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()
ls_2=len(symbol)

dfbysymbol = pd.DataFrame()

for s_i in range(0, ls_2):
    
    # 100대 기업의 symbol list
    ticker = symbol.loc[s_i, "Symbol"]

    start_date = ls_war.loc[index,"발발시점"]
    and_date = ls_war.loc[index+1,"발발시점"]
    test1 = real_df[real_df['Symbol']==ticker]

    # 조건설정
    a = test1['Date']>=start_date
    b = test1['Date']<and_date
    
    test2 = test1.loc[a & b].reset_index()
    num = test2['index'].loc[0]

KeyError: 0

In [106]:
test2

,index,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
0,182723,182723,182723,2001-09-17,40.15,41.24,41.45,39.77,16700000.0,-0.0264,XOM
1,182724,182724,182724,2001-09-18,39.48,40.15,40.25,39.02,10090000.0,-0.0167,XOM
2,182725,182725,182725,2001-09-19,38.41,39.48,39.49,36.13,15400000.0,-0.0271,XOM
3,182726,182726,182726,2001-09-20,37.02,37.45,37.75,36.80,12960000.0,-0.0362,XOM
4,182727,182727,182727,2001-09-21,35.83,35.50,37.05,35.01,21350000.0,-0.0321,XOM
...,...,...,...,...,...,...,...,...,...,...,...
78,182801,182801,182801,2002-01-08,39.70,39.90,39.99,39.50,8280000.0,0.0013,XOM
79,182802,182802,182802,2002-01-09,39.24,39.60,39.97,39.10,10040000.0,-0.0116,XOM
80,182803,182803,182803,2002-01-10,39.39,39.24,39.77,39.06,7850000.0,0.0038,XOM
81,182804,182804,182804,2002-01-11,38.50,39.39,39.60,38.45,9460000.0,-0.0226,XOM
82,182805,182805,182805,2002-01-14,38.64,38.60,39.20,38.50,10140000.0,0.0036,XOM

In [107]:
test2['index'].loc[0]

182723

In [93]:
index=0 # 전쟁ID 0~26
ls_1=len(ls_war)

symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()
ls_2=len(symbol)

dfbysymbol = pd.DataFrame()

for s_i in range(0, ls_2):
    
    # 100대 기업의 symbol list
    ticker = symbol.loc[s_i, "Symbol"]

    start_date = ls_war.loc[index,"발발시점"]
    and_date = ls_war.loc[index+1,"발발시점"]
    test1 = real_df[real_df['Symbol']==ticker]

    # 조건설정
    a = test1['Date']>=start_date
    b = test1['Date']<and_date

    test2 = test1.loc[a & b].reset_index()
    #test2.loc[0, "Date"] # 날짜확인
    num = test2["index"].iloc[0]
    
   
    new_df = pd.DataFrame(real_df.loc[num]).transpose()
    new_df = new_df.drop(["Unnamed: 0.1", "Close", "Open", 'High', 'Low', 'Volume'], axis=1)

    #지난 5일간 average change
    avg_change = real_df.loc[num-5:num-1, 'Change']
    avg_change = round(np.mean(avg_change), 3)
    avg_change

    #change index
    Change_idx = (new_df["Change"] / avg_change) * 100
    Change_idx = round(Change_idx.astype(float),0)
    Change_idx
    
    #index 절대값으로 변환
    Abs_idx = abs(Change_idx)
    Abs_idx = round(Abs_idx.astype(float),0)
    
    # 전쟁발발시점, 전쟁이름, 참전국수
    start_date = ls_war.loc[index,"발발시점"]
    war_name = ls_war.loc[index, "갈등이름"]
    count_country = ls_war.loc[index, "참전국수"]
    
    # 심볼추가
    industry = df_3[df_3["Symbol"] == ticker] # ticker는 위에 정의되어 있음
    industry = industry["Industry"]
    industry = industry.values
    
    # DataFrame
    new_df["Change_idx"] = Change_idx
    new_df["ABS_idx"] = Abs_idx
    new_df["Avg_change"] = avg_change
    new_df['Start_date'] = start_date
    new_df['War_name'] = war_name
    new_df['Count_country'] = count_country
    new_df['Industry'] = industry
    globals()['df_symbol{}'.format(s_i)] = new_df
    dfbysymbol = pd.concat([dfbysymbol, globals()['df_symbol{}'.format(s_i)]], axis=0)

IndexError: single positional indexer is out-of-bounds

In [64]:
index=0 # 전쟁ID 0~26
s_i=0 # Symbol ID 0~99


#for s_i in range(0,100):
symbol = real_df.groupby('Symbol').size()
symbol = pd.DataFrame(symbol).reset_index()
ticker = symbol.loc[s_i, "Symbol"]

start_date = ls_war.loc[index,"발발시점"]
and_date = ls_war.loc[index+1,"발발시점"]
test1 = real_df[real_df['Symbol']==ticker]

    # 조건설정
a = test1['Date']>=start_date
b = test1['Date']<and_date

test2 = test1.loc[a & b].reset_index()
    #test2.loc[0, "Date"] # 날짜확인
num = test2.loc[0, "Unnamed: 0"] #row id 추출
    
   
new_df = pd.DataFrame(real_df.loc[num]).transpose()
new_df = new_df.drop(["Unnamed: 0.1", "Close", "Open", 'High', 'Low', 'Volume'], axis=1)

    #지난 5일간 average change
avg_change = real_df.loc[num-5:num-1, 'Change']
avg_change = round(np.mean(avg_change), 3)
avg_change
    
    #change index
Change_idx = (new_df["Change"] / avg_change) * 100
Change_idx = round(Change_idx.astype(float),0)
Change_idx
    
    #index 절대값으로 변환
Abs_idx = abs(Change_idx)
Abs_idx = round(Abs_idx.astype(float),0)
    
    # 전쟁발발시점, 전재이름, 참전국수
start_date = ls_war.loc[index,"발발시점"]
war_name = ls_war.loc[index, "갈등이름"]
count_country = ls_war.loc[index, "참전국수"]
    
    # 심볼추가
industry = df_3[df_3["Symbol"] == ticker] # ticker는 위에 정의되어 있음
industry = industry["Industry"]
industry = industry.values
    
    # Datafram
new_df["Change_idx"] = Change_idx
new_df["ABS_idx"] = Abs_idx
new_df["Avg_change"] = avg_change
new_df['Start_date'] = start_date
new_df['War_name'] = war_name
new_df['Count_country'] = count_country
new_df['Industry'] = industry

new_df

,Unnamed: 0,Date,Change,Symbol,Change_idx,ABS_idx,Avg_change,Start_date,War_name,Count_country,Industry
426,426,2001-09-17,-0.0323,AAPL,269.0,269.0,-0.012,2001-09-11,테러와의전쟁,48,"컴퓨터, 전화 및 가전제품"

In [58]:
test2.head(10)

,index,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
0,426,426,426,2001-09-17,0.30,0.29,0.30,0.28,459280000.0,-0.0323,AAPL
1,427,427,427,2001-09-18,0.29,0.30,0.32,0.29,327590000.0,-0.0333,AAPL
2,428,428,428,2001-09-19,0.30,0.29,0.31,0.28,373340000.0,0.0345,AAPL
3,429,429,429,2001-09-20,0.28,0.29,0.30,0.28,411710000.0,-0.0667,AAPL
4,430,430,430,2001-09-21,0.28,0.26,0.29,0.26,570520000.0,0.0000,AAPL
5,431,431,431,2001-09-24,0.29,0.29,0.30,0.28,294930000.0,0.0357,AAPL
6,432,432,432,2001-09-25,0.28,0.29,0.29,0.27,374440000.0,-0.0345,AAPL
7,433,433,433,2001-09-26,0.27,0.28,0.28,0.27,493810000.0,-0.0357,AAPL
8,434,434,434,2001-09-27,0.28,0.27,0.28,0.27,322240000.0,0.0370,AAPL
9,435,435,435,2001-09-28,0.28,0.28,0.28,0.27,365130000.0,0.0000,AAPL

In [59]:
# 전쟁발발기점에서의 'Unnamed: 0'의 값
num

426

In [146]:
# 해당값을 출력해보면 전쟁 특정종목의 N번째 전쟁발발시점의 값이 출력됨
test2[test2["Unnamed: 0"] == num]

,index,Unnamed: 0,Unnamed: 0.1,Date,Close,Open,High,Low,Volume,Change,Symbol
0,47226,47226,47226,2002-01-15,12.19,12.33,12.57,12.1,6650000.0,-0.0041,TSM

In [147]:
# num값을 기준으로 이전 5번째, 이후 2번째 범위내의 historical price 출력

In [67]:
real_df.loc[num-5:num-1]["Change"].mean()

-0.012299999999999981

In [175]:
new_df = pd.DataFrame(real_df.loc[num]).transpose()

In [176]:
# new_df에서 Unnamed:0.1, Close, Open, High, Low,Volume Drop

In [177]:
new_df = new_df.drop(["Unnamed: 0.1", "Close", "Open", 'High', 'Low', 'Volume'], axis=1)

In [178]:
# 지난 5일간 Average change 구하기

In [179]:
avg_change = real_df.loc[num-5:num-1, 'Change']
avg_change = round(np.mean(avg_change), 3)
avg_change

-0.007

In [180]:
# Average change 컬럼추가

In [181]:
new_df["Avg_change"] = avg_change

In [182]:
new_df

      Unnamed: 0       Date  Change Symbol  Avg_change
47226      47226 2002-01-15 -0.0041    TSM      -0.007

In [183]:
# Change index 컬럼추가

In [184]:
Change_idx = (new_df["Change"] / new_df["Avg_change"]) * 100
Change_idx = round(Change_idx.astype(float),0)
Change_idx

47226    59.0
dtype: float64

In [185]:
new_df['Change_idx'] = Change_idx
new_df

      Unnamed: 0       Date  Change Symbol  Avg_change  Change_idx
47226      47226 2002-01-15 -0.0041    TSM      -0.007        59.0

In [186]:
# Change index의 절대값 컬럼 추가

In [188]:
Abs_idx = abs(Change_idx)
Abs_idx

47226    59.0
dtype: float64

In [190]:
Abs_idx = abs(Change_idx)
Abs_idx = round(Abs_idx.astype(float),0)
#Abs_idx = Abs_idx.values
Abs_idx

47226    59.0
dtype: float64

In [191]:
new_df['Abs_idx'] = Abs_idx
new_df

      Unnamed: 0       Date  Change Symbol  Avg_change  Change_idx  Abs_idx
47226      47226 2002-01-15 -0.0041    TSM      -0.007        59.0     59.0

In [192]:
# 발발시점, 전쟁이름, 참전국수,

In [193]:
start_date = ls_war.loc[index,"발발시점"]
war_name = ls_war.loc[index, "갈등이름"]
count_country = ls_war.loc[index, "참전국수"]

start_date, war_name, count_country

(Timestamp('2002-01-15 00:00:00'), '영원한자유작전-필리핀', 2)

In [194]:
industry = df_3[df_3["Symbol"] == ticker] # ticker는 위에 정의되어 있음
industry = industry["Industry"]
industry = industry.values
industry

array(['반도체 및 반도체 장비'], dtype=object)

In [195]:
new_df['Start_date'] = start_date
new_df['War_name'] = war_name
new_df['Count_country'] = count_country
new_df['Industry'] = industry

In [196]:
new_df

,Unnamed: 0,Date,Change,Symbol,Avg_change,Change_idx,Abs_idx,Start_date,War_name,Count_country,Industry
47226,47226,2002-01-15,-0.0041,TSM,-0.007,59.0,59.0,2002-01-15,영원한자유작전-필리핀,2,반도체 및 반도체 장비

In [ ]:
# 이제 for문 돌려서 하나의 100개의 데이터를 하나의 data로 만들어야함 row 2700개 예상

In [ ]:
#### 값이 없는 간 해당연도,월,일범위 내에서 종목의 historical price 정보가 없는 거라고 보면 되구요.

In [ ]:
# 이후 분석해볼 거는,

In [ ]:
# 1. 단순히 항목을 넣어서 전쟁규모, 참전국수 등에 따른 평가지표절대값의 상관관계

In [ ]:
# 2. 전쟁종류 등에 따라 100대 기업 중 절대값 200이상되는 symbol의 기준 등

----------------------------